services:
  minio:
    image: quay.io/minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001" # MinIO Console
    environment:
      MINIO_ROOT_USER: "minioadmin"
      MINIO_ROOT_PASSWORD: "minioadmin"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - musicnetwork    
    
  musiclibrary-api:
    build:
      context: .
      dockerfile: MusicLibrary.Api/Dockerfile
    container_name: musiclibrary-api
    ports:
      - "5000:5000"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Server=db;Database=MusicLibraryDb;User Id=sa;Password=12345678aA!;TrustServerCertificate=True;"
    depends_on:
      - db
    networks:
      - musicnetwork
  
  mediaprocessor:
    build:
      context: .
      dockerfile: MediaProcessor/Dockerfile
    depends_on:
      - db
      - minio
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
    networks:
      - musicnetwork

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: musiclibrary-db
    environment:
      SA_PASSWORD: "12345678aA!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - dbdata:/var/opt/mssql
    networks:
      - musicnetwork

volumes:
  dbdata:
  minio_data:
  
networks:
  musicnetwork:
