<div class="auth-page">
    <div class="auth-page-content">

        <!-- HERO -->
         <section class="auth-hero">
            <div class="auth-hero-content">
                <h1>MusicLibrary</h1>
                <p>
                    Manage, organize and access your music library anywhere, anytime.
                </p>
            </div>
         </section>

        <!-- FORM -->
         <section class="auth-form-wrapper">
            <router-outlet></router-outlet>
         </section>
         
    </div>
</div>