<nav>
    <div class="app-container navbar">
        <a routerLink="/media">Home</a>
    
        <a routerLink="/media/upload">Upload</a>
    
        <!-- User NOT authenticated -->
        <ng-container *ngIf="!authService.isAuthenticated()">
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        </ng-container>
    
        <!-- Authenticated user -->
        <ng-container *ngIf="authService.isAuthenticated()">
            <a routerLink="/logout">Logout</a>
        </ng-container>
    </div>
</nav>
